.header {
    display: flex;
    height: 50px;
    background-color: var(--background-color);
    border-top: 3px solid var(--border-top-color);
    align-items: center;
    box-shadow: var(--box-shadow-color);
}

.header__hamb {
    display: none;
}

.header__short-logo {
    display: none;
}

.header__logo {
    padding: 0 8px;
}

.header__img {
    width: 170px;
}

.header__mnu-top {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header__mnu-top__element {
    display: inline-block;
}

.header__mnu-top__link {
    display: block;
    text-decoration: none;
    padding: 6px 12px;
    color: var(--header-links-color);
}

.header__btns {
    margin-left: auto;
    margin-right: 20px;
}

.header__btn-login {
    text-decoration: none;
    margin-right: 5px;
    border: 1px solid;
    border-radius: 3px;
    padding: 6px 12px;
    color: var(--btn-login-color);
    background-color: var(--btn-login_background-color);
    border-color: var(--buttons-border-color);
}

.header__btn-sign {
    text-decoration: none;
    margin-right: 5px;
    border: 1px solid;
    border-radius: 3px;
    padding: 6px 12px;
    color: var(--btn-sign-color);
    background-color: var(--btn-sign-background-color);
    border-color: var(--buttons-border-color);
}
