.post-container {
    width: 100%;
}

.post-container__summary {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    display: flex;
    padding: 16px;
    height: 100px;
    border: 1px solid var(--question-summary-border-color);
}

.post-container__stats {
    width: 20%;
    margin-right: 16px;
}


.post-container__stats-elements {
    display: block;
    text-align: right;
    margin-bottom: 4px;
}

.post-container__post {
    width: 100%;
}

.post-container__post-title {
    font-size: 17px;
    margin-bottom: 4px;
}

.post-container__post-link {
    text-decoration: none;
    font-size: 20px;
    color: var(--post-links-color);
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-container__post-excerp {
    width: 100%;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
